:host {
  display: block;
}

.input-field {
  width: 100%;

  ::ng-deep .mat-mdc-text-field-wrapper {
    border-radius: 18px;
    background: var(--mat-sys-surface);
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
