@use "@angular/material" as mat;
@use "./theme/_theme-colors" as tt-theme;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: tt-theme.$primary-palette,
        tertiary: tt-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f7fa;
}

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );

  @include mat.dialog-overrides(
    (
      container-shape: 16px,
    )
  );
}

.task-dialog {
  .mat-mdc-dialog-container {
    max-width: 500px;
  }
}
